.image-gallery {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 6rem;
}

.image-gallery-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.image-gallery-image {
  width: 220px;
  height: 220px;
  margin-right: 3rem;
  
}

.image-gallery-dots {
  margin-top: 1rem;
  display: flex;
  margin-bottom: 2rem;
}

.image-gallery-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
  cursor: pointer;
}

.image-gallery-dot:last-child {
  margin-right: 0;
}


.image-gallery-dot.active {
  background-color: gray;
}