/* Genel stil */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 10px;
}

/* Giriş stil */
.toggle-switch .toggle-input {
  display: none;
}

/* Anahtarın stilinin etrafındaki etiketin stil */
.toggle-switch .toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 24px;
  background-color: darkgray;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Anahtarın yuvarlak kısmının stil */
.toggle-switch .toggle-label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

/* Anahtarın etkin hale gelmesindeki stil değişiklikleri */
.toggle-switch .toggle-input:checked + .toggle-label {
  background-color: #26d367;
}

.toggle-switch .toggle-input:checked + .toggle-label::before {
  transform: translateX(32px);
}

/* Light tema */
.toggle-switch.light .toggle-label {
  background-color: gray;
}

.toggle-switch.light .toggle-input:checked + .toggle-label {
  background-color: #9b9b9b;
}

.toggle-switch.light .toggle-input:checked + .toggle-label::before {
  transform: translateX(6px);
}

/* Dark tema */
.toggle-switch.dark .toggle-label {
  background-color: #4b4b4b;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label {
  background-color: #717171;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  padding-left: 7rem;
  margin-right: -5.8rem;

}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  /* margin-left: 17rem; */
  margin-right: -6rem;
}


#brand-logos {
  height: 400px;
  overflow: hidden;
}

#brand-logos img {
  animation: scroll-up 40s linear infinite;
}

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
#qs{
  color: #505050;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5rem;
}
#qs:hover{
  text-decoration: underline;
  color: #868582;
}
#rt{
  color: #575554;
}
#phone.PhoneInputInput{
  padding: 6px;
  margin-top: -1px;
  padding-right: 3.75rem;
  border: 1px solid gray;
  border-radius: 0.3rem;
  outline: none;
}
#gt{
  border-radius: 0.3rem;
}
#email{
  border-radius: 0.3rem;
}
#social{
  color: white;
  background: none;
  color-scheme: white;
}
.mun{
  color: #868582 ;
  padding-right: 0.5rem;
   margin-left: 1rem;
}
.mun:hover{
  color: white;
}
.App{
  overflow-x: hidden;
}