@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@500&display=swap");

#cd {
  padding-bottom: 1rem;
}
.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all ease-in-out;
  display: flex;
  opacity: 0.6;
  align-items: center;
  justify-content: center;
}

.scroll-to-top-button:hover {
  background-color: #ff214f;

  opacity: 0.8;
  color: #fff;
}
.hadid {
    position: absolute;
    left: 14px;
}
